body, h2, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333; 
    line-height: 1.6;
}

/* Menu styles */
menu {
    background-color: #343a40; 
    padding: 10px;
}

.Item_Menu {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.Item_Menu:hover {
    text-decoration: underline;
}


/* Container do formulário */
.Cards {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
}

/* Estilos do título */
.Cards h2 {
    color: #343a40; 
    text-align: center; 
}

/* Estilos dos containers */
.NomeMateriaContainer, .ConteudoContainer, .DataContainer {
    margin-bottom: 20px;
}

.Display-flex {
    display: flex;
    justify-content: space-between;
}

/* Estilos dos campos de entrada */
input[type="date"], input[type="number"], select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px; 
}

/* Botões */
.Btn_Salvar, .Btn_Cancelar {
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; 
}

.Btn_Cancelar {
    background-color: #6c757d; 
}

.Btn_Salvar:hover, .Btn_Cancelar:hover {
    opacity: 0.9; 
}

/* Link de voltar */
a {
    text-decoration: none;
    color: #007bff;
    display: inline-block; 
    margin-bottom: 20px; 
}

a:hover {
    text-decoration: underline;
}
